[Desktop Entry]
Name=Emacs GTK2
Name[ko]=이맥스
Comment=Emacs text editor - GTK2 version
Comment[pl]=Edytor tekstu Emacs - wersja GTK2
TryExec=emacs-gtk
Exec=emacs-gtk
Icon=emacs
Terminal=false
Type=Application
Categories=GTK;TextEditor;
# vi: encoding=utf-8
