[Desktop Entry]
Name=Emacs
Name[bg]=Emacs
Name[ca]=Emacs
Name[cs]=Emacs
Name[da]=Emacs
Name[de]=Emacs
Name[el]=Emacs
Name[es]=Emacs
Name[et]=Emacs
Name[eu]=Emacs
Name[fi]=Emacs
Name[fr]=Emacs
Name[ga]=Emacs
Name[gl]=Emacs
Name[it]=Emacs
Name[ja]=Emacs
Name[ko]=이맥스
Name[nl]=Emacs
Name[no]=Emacs
Name[pl]=Emacs
Name[pt]=Emacs
Name[pt_BR]=Emacs
Name[ru]=Emacs
Name[sv]=Emacs
Name[tr]=Emacs
Name[uk]=Emacs
Name[wa]=Emacs
Name[zh_CN.GB2312]=Emacs
Name[zh_TW.Big5]=Emacs
Comment=Emacs text editor
Comment[bg]=Emacs текстов редактор
Comment[ca]=L'editor de text Emacs
Comment[cs]=Textový editor Emacs
Comment[da]=Emacs tekstbehandleren
Comment[de]=Der Texteditor Emacs
Comment[el]=Επεξεργαστής κειμένου Emacs
Comment[es]=Editor de textos Emacs
Comment[et]=tekstiredaktor Emacs
Comment[eu]=Emacs testu editorea
Comment[fi]=Emacs-editori
Comment[fr]=Editeur de texte Emacs
Comment[ga]=Eagarthóir Teacs Emacs
Comment[gl]=Editor de texto Emacs
Comment[hu]=Emacs szövegszerkesztő
Comment[it]=Editor di testo Emacs
Comment[ja]=Emacsテキストエディタ
Comment[ko]=이맥스 문서 편집기
Comment[nl]=Emacs tekst editor
Comment[no]=Teksteditoren Emacs
Comment[pl]=Edytor tekstu Emacs
Comment[pt]=Editor de texto Emacs
Comment[pt_BR]=Editor de texto Emacs
Comment[ru]=Текстовый редактор Emacs
Comment[sv]=Emacs texteditor
Comment[tr]=Emacs metin editörü
Comment[uk]=Текстовий редактор
Comment[wa]=L' aspougneu di tekse Emacs
Comment[zh_CN.GB2312]=Emacs 文字编缉器
Comment[zh_TW.Big5]=Emacs 文字編緝器
TryExec=emacs
Exec=emacs
Icon=emacs.png
Terminal=0
Type=Application
# vi: encoding=utf-8
